# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# generated speech
public/tts

# credential files downloaded from the Google Cloud console
client_secret_*.json
